.login-container {
    margin-top: 10vh;
    width: 460px;
    border-radius: 3px;
    box-shadow:0px 2px 3px rgba(0, 0, 0, 0.2);
    background-color: #e8e9ea;
}

.content-container {
    background: linear-gradient(to bottom, #8ad3f1, #e8e9ea);
    padding: 1em;
    border-radius: 3px;
}

.tablinks {
 background-color: #e8e9ea;  
}

button.btn {
    width: 230px;
    border-radius: 3px;
}

button.anon.active {
    box-shadow: inset -3px 2px 5px rgba(0, 0, 0, 0.25);
}

button.log-in.active {
    box-shadow: inset 3px 2px 5px rgba(0, 0, 0, 0.25);
}

#fb-login {
    /* background-image: url(images/F_Logo_Online_04_2018/white/SVG/flogo-HexRBG-Wht-100.svg);
    background-repeat: no-repeat;
    background-position: left top; */
    background-color: #4267B2;
    width: 200px;
    height: 50px;
}